@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;600&family=VT323&display=swap');


body{
    background: rgb(6,29,34);
    background: linear-gradient(180deg, rgba(6,29,34,1) 0%, rgba(0,0,0,1) 100%);
}
div#nav{
    display: none;
}

.content{
    background: rgba(26, 24, 24, 0.38);
    border: 2px solid #131313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.grid-container{
    margin-left: 60px;
    margin-right: 60px;
    display:grid;
    grid-template-areas:
    'main main main main main education education education'
    'hobbies hobbies hobbies hobbies hobbies hobbies hobbies hobbies'
    'footer footer footer footer footer footer footer footer';
    gap: 10px;
    padding: 10px;


}
.grid-item1{
    grid-area: main;
    display:grid;
    grid-template-areas:
    'sHead sHead sHead sHead sHead'
    'sContent sContent sContent sImage sImage';
    gap: 10px;
    padding:1px;
}
.gridS1{
    grid-area: sContent;
}
.gridS2{
    grid-area: sImage;
}
.gridS3{
    grid-area: sHead;
}

.grid-item2{
    grid-area: education;

}
.grid-item3{
    grid-area: hobbies;
    display:grid;
    grid-template-areas:
    'header header header header header header'
    'list list one one two two';
    gap: 10px;
    padding:1px;
}
.grid-header{
    grid-area:header;
}
.grid-item4{
    grid-area: footer;
    text-align: center;
    background: rgba(26, 24, 24, 0.38);
    border: 2px solid #131313;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.grid-item5{
    grid-area: list;
}
.image1{
    grid-area: one;
}
.image2{
    grid-area: two;
}



h1{
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    padding: 25px;
    margin-left: 60px;
    margin-right: 60px;
    color: #FFFFFF;
    background-color: rgb(23, 23, 23);
    border: 2px solid #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

}
h2{
    margin: 20px;
    padding: 35px;
    background-color: rgb(23, 23, 23);
    border: 1px solid #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;

color: #FFFFFF;
}
p{
    background-color: rgb(23, 23, 23);
    border: 1px solid #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;

    color: #FFFFFF;
}

ol,ul,img{
    background-color: rgb(23, 23, 23);
    border: 1px solid #1B1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
li{
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 70px;
    margin-left: 35px;

    color: #FFFFFF;

}

div#hobbies{
    padding-bottom: 10px;
}
