@charset "UTF-8";
div #ed,#main,#hobbies,#bio{
    border-bottom: 2px solid rgb(51, 140, 199);
    padding-bottom: 6px;
}
div#nav {
    border-bottom: 2px solid rgb(51, 140, 199);
    background-color: rgb(34, 34, 34);
    text-align: center;
    
}
@font-face {
    font-family: myFirstFont;
    src:url(Roboto_Mono/static/RobotoMono-Bold.ttf)
}
h1{
    color:rgb(51, 140, 199);
    font-family: myFirstFont;
    border-top: 2px solid black;
    border-bottom: 2px solid rgb(51, 140, 199);
    padding: 6px;
    text-align: center;
    background-color: rgb(34, 34, 34);
    margin-block-end: 0px;
    margin-block-start: 0px;

}
li {
    padding-bottom: 4px;
}
h2{
    color:rgb(51, 140, 199);
    font-family:myFirstFont;
    text-align: center;
    background-color: rgb(34, 34, 34);
    padding: 30px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    border-bottom: 2px solid black;
}
.content,p{
    font-family: 'Courier New', Courier, monospace;
    color:aliceblue
}
body{
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(56,56,56,1) 35%);
}
.hide{
    display: none;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border-image:round;
    scale: 90%;
    
}
a:link {
    color:rgb(92, 168, 255);
    display:inline-block;
    padding: 4px;
}
a:visited {
    color:rgb(0, 98, 122);
    display:inline-block;
}
a:hover {
    color: rgb(0, 81, 255);
    background-color: black;
    padding: 2px;
    border: 2px solid rgb(51, 140, 199);
    display:inline-block;
}
a:active {
    color:aliceblue;
    display:inline-block;
}