@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Rock+Salt&family=Teko&display=swap');

*{
    box-sizing: border-box;
}
html{
    height:100%;
    width:1820px;
}


body{
    background-color: #070707;
    margin:0px;
    min-height: 100%;
}

h1{
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    color: #BB0908;

    padding-bottom:15px;
    padding-left: 30px;
    padding-top:35px;

    margin:0px;
}

h2{
    font-family: 'Rock Salt';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 72px;

    padding-top: 7px;
    padding-left: 23px;
    padding-right: 12px;
    padding-bottom:4px;

    margin: 0px;

    color: #FF1D29;

    border-bottom: 4px solid rgba(187, 9, 8, 1) ;

}

strong{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #FC0303;
}

b{
    font-family: 'Teko';
    font-size: 72px;
    font-weight: 700;
    line-height: 103px;

    color:rgba(255, 255, 255, 1)
    
}
#header{
    height:100px;

    display:flex;
    justify-content: space-between;
    
    

    
    
}
#header #imgP{

    padding-top:21px ;
    padding-right:40px ;
    padding-bottom:19px ;
}
#im2{
    padding-left: 8.5px;
    padding-right: 8.5px;
}

#penant, #dates, #poster,#banner{
    background: #393939;
}
#banner{
    width: 1440px;
    height:388px;
}
#poster img{
    padding-bottom: 1px;
    padding-left: 1px;
}
#poster{
    display:flex;
    border-top: 5px solid rgba(187, 9, 8, 1);

    width: 700px;
    min-height: 481px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-bottom:24px;
}

#flex1{
    padding-left: 19px;


}
#flex2{
    display:flex;
    padding-left: 19px;
}




#penant{
    border-top: 5px solid rgba(187, 9, 8, 1); 


    width: 700px;
    min-height: 481px;

    font-size: 0px;

    padding-left: 24px;
    padding-top: 17px;


    

}

#penant p{
    height: 195px;
    margin-block-start: 0px;
    margin-block-end: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #FFFFFF;
}
#purch{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration-line: underline;

    color: #22C1CB;

}



#dates{


    width: 360px;
    min-height: 918px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1)
}

#datecontent{
    padding-top: 31px;
    padding-left: 44px;
    padding-right: 41px;
}
#dateimg1{
    padding-left: 17px;
    padding-top: 25px;
    padding-right: 18px;
}
#dateimg2{
    padding-left: 18px;
    padding-bottom: 28.48px;
    padding-right: 17px;

}

#footer{
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;

    color: #BCBCBC;

    height:60px;
    padding-left: 30px;
    padding-top:21px;
    padding-bottom:22px;
}



.content_container{

    display:grid;
    grid-template-areas:
    'g1 g1 g4'
    'g2 g3 g4';
    gap: 20px;
    background-color: #282828;

    margin:0px;
}
.g1{
    grid-area:g1;
}
.g2{
    grid-area:g2;
}
.g3{
    grid-area:g3;
}
.g4{
    grid-area:g4;
}